* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #6b6b6b;
}

main {
  height: 100vh;
  overflow: hidden;
}

nav {
  height: 100vh;
  width: 15%;
  min-width: 65px;
  padding-top: 15%;
}

nav > * {
  margin-top: 15%;
}

.clr-blue {
  color: #0078F2;
}

.logo {
  max-height: 60px;
  width: 100%;
}

.switch-mode {
  margin-bottom: 25px;
  cursor: pointer;
}

.nav-link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.15s box-shadow ease-in-out;
}
.nav-link .fa {
  font-size: 30px;
}
.nav-link.active::before {
  transition: 0.15s ease-in-out;
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #EAEAEA;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #EAEAEA;
}

.btn-text {
  font-size: 0.8rem;
}

.switch-container {
  width: 100% !important;
}

.nav-pills .nav-link {
  border-radius: 50px 0% 0% 50px;
  color: rgba(255, 255, 255, 0.65);
}
.nav-pills .nav-link:hover, .nav-pills .nav-link:active {
  color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #EAEAEA;
}

.main-content {
  background: #EAEAEA;
  height: 93vh;
  margin-right: 1rem;
  border-radius: 50px;
}

.tab-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 85%;
  color: #3C3C3C;
}
.tab-content::-webkit-scrollbar {
  width: 6px;
}
.tab-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8383837c;
}

.project-items img {
  border-radius: 25px;
}

.card-img-overlay {
  background: rgba(18, 18, 18, 0.73);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 24px;
  text-decoration: none;
  transition: 0.4s;
  opacity: 0;
}
.card-img-overlay:link, .card-img-overlay:visited {
  color: white;
}
.card-img-overlay:hover {
  opacity: 1;
}

.text-fader .text-content {
  color: #3C3C3C;
}
.text-fader .text-content span.line {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  display: none;
}
.text-fader .text-content span.colour .letter {
  color: #3C3C3C;
  transition: all 0.2s ease;
}
.text-fader .text-content.in span.line {
  -webkit-animation-name: textFaderIn;
  animation-name: textFaderIn;
  display: block;
}
.text-fader .text-content.in span.colour.go .letter {
  color: #0078F2;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(1) {
  transition-delay: 0.07s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(2) {
  transition-delay: 0.14s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(3) {
  transition-delay: 0.21s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(4) {
  transition-delay: 0.28s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(5) {
  transition-delay: 0.35s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(6) {
  transition-delay: 0.42s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(7) {
  transition-delay: 0.49s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(8) {
  transition-delay: 0.56s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(9) {
  transition-delay: 0.63s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(10) {
  transition-delay: 0.7s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(11) {
  transition-delay: 0.77s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(12) {
  transition-delay: 0.84s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(13) {
  transition-delay: 0.91s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(14) {
  transition-delay: 0.98s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(15) {
  transition-delay: 1.05s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(16) {
  transition-delay: 1.12s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(17) {
  transition-delay: 1.19s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(18) {
  transition-delay: 1.26s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(19) {
  transition-delay: 1.33s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(20) {
  transition-delay: 1.4s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(21) {
  transition-delay: 1.47s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(22) {
  transition-delay: 1.54s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(23) {
  transition-delay: 1.61s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(24) {
  transition-delay: 1.68s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(25) {
  transition-delay: 1.75s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(26) {
  transition-delay: 1.82s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(27) {
  transition-delay: 1.89s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(28) {
  transition-delay: 1.96s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(29) {
  transition-delay: 2.03s;
}
.text-fader .text-content.in span.colour.go .letter:nth-child(30) {
  transition-delay: 2.1s;
}
.text-fader .text-content.out span.line {
  -webkit-animation-name: textFaderOut;
  animation-name: textFaderOut;
  display: block;
}

@-webkit-keyframes textFaderIn {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes textFaderIn {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes textFaderOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-25%);
  }
}
@keyframes textFaderOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-25%);
  }
}
.home-lines {
  max-width: 200px;
  width: 100px;
}

.info-sub,
.learn-text {
  font-size: 1.3rem;
  color: #3C3C3C;
}

.about-sub {
  font-size: 1.1rem;
}

.info-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.info-sub {
  color: #3C3C3C;
}

.btn {
  -webkit-filter: drop-shadow(-3px 4px 4px rgba(140, 140, 140, 0.25));
  filter: drop-shadow(-3px 4px 4px rgba(140, 140, 140, 0.25));
  border-radius: 40px;
}

.btn-primary {
  background: #0078F2;
}

.btn-about {
  width: 120px;
  height: 40px;
}

.dp-container img {
  max-height: 300px;
  margin: 10% auto;
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
}

.social-icons .fa {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #399cff;
  transition: 0.2s;
}
.social-icons .fa:hover {
  cursor: pointer;
  color: #858585;
}

@media (min-width: 576px) {
  nav {
    width: 20%;
    padding-top: 8%;
  }

  .btn-text {
    font-size: 1rem;
  }

  .info-sub,
.learn-text {
    font-size: 1.5rem;
  }

  .info-title {
    font-size: 1.8rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-text {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  nav {
    padding-top: 15%;
  }

  .btn-text {
    font-size: 1rem;
  }

  .about-sub {
    font-size: 1.2rem;
  }

  .info-title {
    font-size: 1.9rem;
  }

  .nav-link {
    flex-direction: row;
  }
  .nav-link .fa {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .card-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  nav {
    padding-top: 10%;
  }

  .home-lines {
    width: 130px;
  }

  .nav-link .fa {
    font-size: 1.8rem;
  }

  .btn-text {
    font-size: 1.3rem;
  }

  .info-sub,
.learn-text {
    font-size: 1.7rem;
  }

  .about-sub {
    font-size: 1.4rem;
  }

  .info-title {
    font-size: 2rem;
  }

  .social-icons .fa {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-text {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .dp-container img {
    max-height: 450px;
  }
}
@media (min-width: 1400px) {
  .btn-text {
    font-size: 1.8rem;
  }

  .info-sub,
.learn-text {
    font-size: 2rem;
  }

  .about-sub {
    font-size: 1.8rem;
  }

  .info-title {
    font-size: 2.4rem;
  }

  .dp-container img {
    max-height: 500px;
  }
}
@media (min-width: 1800px) {
  .main-content {
    margin-right: 2rem;
  }

  .tab-content {
    margin-top: 6rem !important;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  nav {
    padding-top: 5%;
  }

  .nav-link span {
    font-size: 1.8rem;
  }
  .nav-link .fa {
    font-size: 2.5rem;
  }

  .logo {
    max-height: 100px;
  }

  .switch-mode {
    height: 50px;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-text {
    font-size: 1.6rem;
  }
}
@media (max-height: 435px) {
  .tab-content {
    height: 80%;
  }

  nav {
    padding-top: 0;
  }
  nav > * {
    margin-top: 1%;
  }

  .switch-mode {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .nav-link .fa {
    font-size: 18px;
  }

  .nav-link {
    padding: 0;
  }

  .logo {
    max-height: 40px;
  }
}
body.dark {
  background: #222831;
}
body.dark .text-fader .text-content {
  color: #fff;
}
body.dark .text-fader .text-content span.colour .letter {
  color: #fff;
}
body.dark .nav-link.active::before {
  box-shadow: 15px 15px 0 #393e46;
}
body.dark .nav-link.active::after {
  box-shadow: 15px -15px 0 #393e46;
}
body.dark .info-container {
  transition: 0.2s;
  color: #fff;
}
body.dark .info-container .info-sub,
body.dark .info-container .learn-text {
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.81);
}
body.dark .nav-pills .nav-link.active,
body.dark .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #393e46;
}
body.dark .main-content {
  background-color: #393e46;
}